DSCI Midterm Study Sample Exam With Solutions and Explanations.

10/05/2024

Micah Shaw
DSCI510
https://github.com/MicahShaw

Question One:

We are using Python version Three :)

Question Two:

Variable Naming Convention:
"
Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords."

Code Test :)

In [1]:
my_variable = None

In [2]:
94my_var = None

SyntaxError: invalid decimal literal (<ipython-input-2-c18f11ef830d>, line 1)

In [3]:
variableName = None

In [4]:
n3w-v@r14bl3$ = None

SyntaxError: invalid syntax (<ipython-input-4-5ffa0cb7eb82>, line 1)

Question Three

In [5]:
print(type('59'))

<class 'str'>

Question Four

In [6]:
print(4+6*14-8)

80

Question Five: We use input() :)

https://www.w3schools.com/python/ref_func_input.asp

Question Six: Run each to see! :)

In [7]:
let a = 5

SyntaxError: invalid syntax (<ipython-input-7-14ff290ae318>, line 1)

In [8]:
var b = 7

SyntaxError: invalid syntax (<ipython-input-8-aa55d33f4c0c>, line 1)

In [9]:
a,b = 5,7

In [10]:
b = 7

Question Seven: Run each to see! :)

In [12]:
type(int("15")) == int

True

In [13]:
type(str("15")) == int

False

In [14]:
type(float("15")) == float

True

In [15]:
type(number("15")) == int

NameError: name 'number' is not defined

Question Eight

In [192]:
x = "this will be fun, dont you think"
print(x[-5::-1])

t uoy tnod ,nuf eb lliw siht

Why does this work like this?


We know that Slicing works like this:

Lst[ Initial : End : IndexJump ]

a_list[::3] means " 'nothing for the first argument, nothing for the second, and jump by three'." https://stackoverflow.com/questions/3453085/what-is-double-colon-in-python-when-subscripting-sequences


https://www.geeksforgeeks.org/python-list-slicing/

Note that:
Positive Indexes: 0, 1, 2, 3, 4, 5, 6
Negative Indexes: -7, -6, -5, -4, -3, -2, -1 (each negative index corresponds to counting backwards from the end of the list)

In [197]:
#Therefore, what the above code is doing is start from index -5, do nothing for second argument and jump -1!

print(x[-5]) #So we start from there! :)

#End was not specified so ignore it!

#Therefore, we start from index -5, which is 5 steps down from the end of the string, then we step down -1 each time.

#Therefore giving us: t uoy tnod ,nuf eb lliw siht

t

Question Nine

In [3]:
print(len(set('abracadabra')))

#The set will remove all duplicates! :)

5

Question Ten

In [4]:
some_numbers = [x for x in range(0, 50, 3) if x % 13 == 1]

Let's print the range, which looks like this!

range(start, stop, step)


**start**	Optional. An integer number specifying at which position to start. Default is 0

**stop**	Required. An integer number specifying at which position to stop (not included).

**step**	Optional. An integer number specifying the incrementation. Default is 1

In [198]:
#Let's display :), as we can see the start is zero indexed.

#Remember that 50 here is not inclued!!

for i in enumerate(range(0, 50, 3)):
  print(i)

(0, 0)
(1, 3)
(2, 6)
(3, 9)
(4, 12)
(5, 15)
(6, 18)
(7, 21)
(8, 24)
(9, 27)
(10, 30)
(11, 33)
(12, 36)
(13, 39)
(14, 42)
(15, 45)
(16, 48)

Question Eleven

We use  **def** :)



"The let keyword is used when declaring a block of code that should be reusable throughout our program. For example: let myName = 'Aniket';"

"A Python Constant is a variable whose value cannot be changed throughout the program."

Question Twelve

Run Each to see if they exist in Python :)

In [7]:
print(callable(len))

True

In [8]:
print(callable(avg))

NameError: name 'avg' is not defined

In [ ]:
print(callable(min))

In [9]:
print(callable(max))

True

Question Thirteen

I added some print statements so we can see the output! :)

In [10]:
sum = 0
count = 0

#While True is an infinite loop, it always runs unless broken out of!
while True:
  user_input = input('> Enter a number: ')
  user_input = float(user_input)
  #This checks if the entered number divided by seven gives remainder three!

  if user_input // 7 == 3:
    print(f"Remainder of {user_input} divided by seven is three!", end = "\n")

    #Note: that 3.0 == 3 :) in Python we can equate floats and integers sometimes.

    #Break leaves the loop!
    break

  #We append user_input to sum and incremenet count by one!
  sum += user_input
  count += 1
  print("sum is ", sum, " count is ", count)
  #Continue ends the current iteration of a loop and goes to the next one!
  continue
print(f' Average of the numbers entereed so far is: {sum / count}')

> Enter a number: 4
sum is  4.0  count is  1
> Enter a number: 3
sum is  7.0  count is  2
> Enter a number: 6
sum is  13.0  count is  3
> Enter a number: 12
sum is  25.0  count is  4
> Enter a number: 23
Remainder of 23.0 divided by seven is three!
 Average of the numbers entereed so far is: 6.25

Question Fourteen w/ my solution :)

In [ ]:
def convert_temperature():
  """
  This function asks the user to enter a temperature
  Converts that temperature from Fahrenheit to Celsius
  And prints both temperatures in Fahrenheit and Celsiuis
  """
  f_temp = _____("Enter temperature in Fahrenheit")

  try:
    f_temp = float(f_temp)
    c_temp = (f_temp - 32.0) * 5.0 / 9.0
    ______ ('Fahrenheit:', f_temp, 'Celsius:', c_temp)

  _____:
    print("Please enter a number!")

In [201]:
#My solution! :)
def convert_temperature():
  """
  This function asks the user to enter a temperature
  Converts that temperature from Fahrenheit to Celsius
  And prints both temperatures in Fahrenheit and Celsiuis
  """
  f_temp = input("Enter temperature in Fahrenheit")

  try:
    f_temp = float(f_temp)
    c_temp = (f_temp - 32.0) * 5.0 / 9.0
    print('Fahrenheit:', f_temp, 'Celsius:', c_temp)
  except:
    print("Please enter a number!")
convert_temperature()

Enter temperature in Fahrenheit85
Fahrenheit: 85.0 Celsius: 29.444444444444443

Question Fifteen

Try this out!

"If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value."

In [17]:
x = "fantastic"

def my_func(y):
  global x
  x = y
  print("(inside) Python is " + x)

my_func("awesome")
print("Python is " + x)

(inside) Python is awesome
Python is awesome

Question Sixteen: My Solution :)

In [202]:
#I use a list comprehension, which gives all numbers in the range that %2 == 0 :)
end_number = 10
[add for add in range(0, end_number) if add % 2 == 0]

[0, 2, 4, 6, 8]

In [203]:
import numpy as np
#Then I just sum it! Using the list sum function!
np.sum([add for add in range(0, end_number) if add % 2 == 0])

20

Question Seventeen: My Solution :)

In [43]:
def invert_dict(input_dict: dict) -> dict:
  return {value : key for (key, value) in input_dict.items()}

Remember that:

"dict.items() : Returns a view object that displays a list of key-value pairs (tuples) in the dictionary."

"dict.values() : Returns a view object that displays a list of all the values in the dictionary."

"dict.keys() : Returns a view object that displays a list of all the keys in the dictionary."

In [44]:
#So input_dict.items returns that key, value pairs as tuples!:
#So what this is doing is setting the key value pair actually to value : key! Which reverses each key pair tuple in the .items() :)!
invert_dict({1:'a'})

{'a': 1}

Question Eighteen

![1679695596993.png]()

Question Ninteen

In [204]:
def reverse_substring(text: str):
  print("First Slice:", text[7:12])
  #First Slice gets from SEVEN to END, note the end slice exceeds the length of the string, so it will just print the rest of the string!
  print("Second Slice:", text[::-1])
  #Second Slice Reverses the string! Remeber we are stepping down using -1.
  print("Final Slice:", text[7:12][::-1])
  #This slice then is taking the first slice subsection and then reversing it! :)
  text_to_return = text[7:12][::-1]
  return text_to_return

print(reverse_substring("Hello World"))

First Slice: orld
Second Slice: dlroW olleH
Final Slice: dlro
dlro

Question Twenty

In [205]:
string = "Hello to DSCI 510 Midterm"
string[:5] = "Aloha"
print(string)

TypeError: 'str' object does not support item assignment

Remeber that Strings are IMMUTABLE! If you want to do this you need to create a whole new string! :)

Question Twenty-One: My Solution :)

In [63]:
def is_vowel(character):
  return character == "A" or character == "a" or character == "E" or character == "e" or character == "I" or character == "i" or character == "O" or character == "o" or character == "U" or character == "u"
def replace_vowels(input_string: str) -> str:
  new_string = ""
  for elem in input_string:
    if(is_vowel(elem)):
      new_string+="x"
    else:
      new_string+=elem
  return new_string

In [64]:
print(replace_vowels("AaEeIiOoUu"))

xxxxxxxxxx

Question Twenty-Two, Run each to see :)!

In [65]:
john_smith = "John" + "Smith"
print(john_smith)

JohnSmith

In [66]:
john_smith = "John".concat("Smith")

AttributeError: 'str' object has no attribute 'concat'

In [206]:
#Join will technically quasi-"add" strings, but according to the definition:
"The join() method takes all items in an iterable and joins them into one string."
#So, it is not necessarily the preferred way to add strings, so I assume this answer is false.
john_smith = "John".join("Smith")
print(john_smith)

SJohnmJohniJohntJohnh

In [73]:
john_smith = "John".append("Smith")
print(john_smith)

AttributeError: 'str' object has no attribute 'append'

Question Twenty-Three



    with open('myfile.txt', 'r') as f:

    contents = f.read()

So, yes you can use with to open also...

Reagrding the *with* statement, the "file will automatically be closed when the with block finishes execution, even if exceptions were raised inside the block."

Question Twenty Four: Run each to see if valid mode! No worries, you do not need to have "myfile.txt" :)

![0_CZMzQqblpb9It2IS.png]()

In [207]:
with open('myfile.txt', 'r') as f:
    pass

In [208]:
with open('myfile.txt', 's') as f:
    pass

ValueError: invalid mode: 's'

In [209]:
with open('myfile.txt', 'w') as f:
    pass

In [210]:
with open('myfile.txt', 'd') as f:
    pass

ValueError: invalid mode: 'd'

Question Twenty-Five

**A**: "When the file is opened in append mode in Python, the handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data. "

Question Twenty-Six

The x mode is described above in the image! **False**

Question Twenty-Seven

In [212]:
numbers = [0, 4, 76, 23, 8, 10, 16, 47, 38, 60]
print(numbers[1:8:2])
print(numbers[0:8:2])
#Why does the following one work too? Remember that "slice method always excludes the element at the final index specified"
print(numbers[1:9:2])
print(numbers[0:9:2])
#An extra one to see that the end slice, if you are zero-indexing does not go to 9, so a trick I like is counting the end slice one-indexed. :)
print(numbers[1:9])

[4, 23, 10, 47]
[0, 76, 8, 16]
[4, 23, 10, 47]
[0, 76, 8, 16, 38]
[4, 76, 23, 8, 10, 16, 47, 38]

Question Twenty-Eight: My Solution :)

In [213]:
numbers = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for num in numbers:
  #I use modulus to check divisiblity!
  if num %2 == 0 or num %3 == 0:
    print(f"Num is {num}")
    sum+=num
    print(f"Incremented sum is {sum}")
print(sum)

Num is 2
Incremented sum is 2
Num is 3
Incremented sum is 5
Num is 4
Incremented sum is 9
Num is 6
Incremented sum is 15
Num is 8
Incremented sum is 23
Num is 9
Incremented sum is 32
Num is 10
Incremented sum is 42
42

Question Twenty-Nine: Run each to see! :)

In [92]:
my_list = [1, 2, 3, 4]
my_list.append(5)

In [98]:
my_list = [1, 2, 3, 4]
#Insert requires an index, you can use length of your list as that index to add it to the end :)
my_list.insert(len(my_list), 5)
my_list

[1, 2, 3, 4, 5]

In [99]:
my_list = [1, 2, 3, 4]
my_list.extend(5)

TypeError: 'int' object is not iterable

In [100]:
my_list.add(4)

AttributeError: 'list' object has no attribute 'add'

Question Thirty

In [101]:
my_list = [1, 2, 3]
new_list = my_list + [4,5]
print(new_list)

[1, 2, 3, 4, 5]

Question Thirty-One, run each to check! :)

In [102]:
fruits = ["apple", "banana", "mango", "orange"]
fruits.remove("banana")
fruits

['apple', 'mango', 'orange']

In [103]:
fruits = ["apple", "banana", "mango", "orange"]
fruits.pop(1)
fruits

['apple', 'mango', 'orange']

In [104]:
fruits = ["apple", "banana", "mango", "orange"]
fruits.remove("Banana")
fruits

ValueError: list.remove(x): x not in list

In [106]:
fruits = ["apple", "banana", "mango", "orange"]
fruits.clear()
fruits

[]

Question Thirty-Two: My Solution :)

In [108]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#[2] gets the third list, then [1] accesses the second element. Remember this is zero-indexed! :)
element = my_list[2][1]
print(element)

8

Question Thirty-Three

a: True: "A dictionary in Python is a collection of key-value pairs, where each key is unique and maps to a corresponding value."

b: True: "In Python, dictionaries are written with curly brackets { } , and store key-value pairs."

c: False: "However, a key can not be a mutable data type, for example, a list."

d: False: "Since Python 3.6, regular dictionaries have kept their items in the same order that they were inserted into the underlying dictionary."

Question Thirty-Four: Run each to see!

In [109]:
my_dict = {"John": 45}

In [110]:
my_dict = {(1, 2): 45}

In [111]:
my_dict = {[1, 2, 3]: 45}

TypeError: unhashable type: 'list'

In [112]:
my_dict = {1: 45}

Question Thirty-Five

**C**: "The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list."

Question Thirty-Six Run to see :)

In [113]:
dict = {"name": "John", "age": 25}
dict.get("address", "Not Found")

'Not Found'

Question Thirty-Seven

a: False: " In Python, tuples are immutable, meaning that once a tuple is created, its contents cannot be changed."

b: True: ("John", 45) works.

c: False: "thistuple = ("apple", "banana", "cherry")" also "thistuple = tuple(("apple", "banana", "cherry"))"

d: False: "Tuple is a collection which is ordered and unchangeable."

Question Thirty-Eight Run each to see :)

In [115]:
t = (1)
print(type(t))

<class 'int'>

Q

In [116]:
t = 1,
print(type(t))

<class 'tuple'>

In [117]:
t = (1,)
print(type(t))

<class 'tuple'>

In [118]:
t = tuple([1])
print(type(t))

<class 'tuple'>

Question Thirty-Nine, run to see :)

In [123]:
a = (1,3)+ ("John", "Smith")
print(type(a))
print(a)
#B

<class 'tuple'>
(1, 3, 'John', 'Smith')

Question Forty

In [124]:
my_dict = {(1,3): "John"}

In [125]:
my_dict = {[1,3]: "John"}
#Must be immutable!

TypeError: unhashable type: 'list'

Question Forty-One run to see :)

In [ ]:
my_list = [1,3]

In [127]:
my_tuple = tuple(my_list)
type(my_tuple)

tuple

In [128]:
my_tuple = tuple(x for x in my_list)
type(my_tuple)

tuple

In [129]:
my_tuple = convert_to_tuple(my_list)
type(my_tuple)

NameError: name 'convert_to_tuple' is not defined

Question Forty-Two: Run to see!

In [130]:
my_tuple = (1, 2, 3)
new_tuple = my_tuple*2
#This will just repeat the tuple and return a new tuple.
print(new_tuple)

(1, 2, 3, 1, 2, 3)

In [132]:
#Remember tuples are immutable, so if you wanted to scale each element in the tuple by two you would have to do this:
new_tuple = tuple(elem * 2 for elem in my_tuple)
new_tuple

(2, 4, 6)

Question Forty-Three

"Create a class named Student, which will inherit the properties and methods from the Person class:

    class Student(Person):
      pass"
" importing in Python is not directly related to inheritance."

"The extend() method is used to add elements from an iterable (like another list, tuple, or string) to the end of an existing list."

Therefore, the answer **B**

Question Forty-four, Run and see! :)

In [133]:
class People:
  def __init__(self, name):
    self.name = name

  def print_name(self):
    print(self.name)

person1 = People("Sally")
person2 = People("Louise")
person1.print_name()

Sally

why is Sally printed?

The person1 instance name is instantiated to Sally!

The person2 instance is instantiated to Louise! Therefore, when you call person1.print_name() you get Sally

and person2.instance you get Louise

In [134]:
person2.print_name()

Louise

If you wanted every instance variable to change you would have to something like this :)

In [139]:
class People:
  global_name = ""
  def __init__(self, name):
    People.global_name = name

  def print_name(self):
    print(People.global_name)

person1 = People("Sally")
person2 = People("Louise")
person1.print_name()
person2.print_name()

Louise
Louise

Question Forty-Five, run each to see! :) the correct way is B.

In [159]:
class Author:
  def __init__(title, author):
    print(author)
    print(title)
author = Author("Rising", "John")

TypeError: Author.__init__() takes 2 positional arguments but 3 were given

In [162]:
class Author:
  def __init__(self, title, author):
    print(author)
    print(title)
author = Author("Rising", "John")

John
Rising

In [163]:
class Author:
  def __init__():
    pass
#This cant work you need to have at least self!
author = Author()

TypeError: Author.__init__() takes 0 positional arguments but 1 was given

In [164]:
class Author:
  def __init__(self):
    pass
#Now that example works!
author = Author()

In [165]:
class Author:
  __init__(self, title, author):
    pass

#You need def to call a method

SyntaxError: invalid syntax (<ipython-input-165-f4953c685cb2>, line 2)

Question Forty-Six, Run to see! :)

Remember that even though Retriever inherits sound, it uses its local sound method! :)

In [169]:
class Dog:
  def sound(self):
    return "Ruff"
  def look(self):
    return "Looking"
class Retriever(Dog):
  def sound(self):
    return "Woof"

buddy = Retriever()
print(buddy.look())
print(buddy.sound())

Looking
Woof

Question Forty-Seven

Dictionaries are mutable!

Lists are mutable!

Sets are mutable!

Strings are immutable!

Tuples are immutable!

Question Forty-Eight: My Solution :)

In [174]:
file_contents = "China;Beijing;1400000000\nGermany;Berlin;83000000\nIndia;New Delhi;1100000000\nNetherlands;Amsterdam;17500000\nUnited States;Washington;330000000"
output_file = open(file_contents, "w")

with open("countries.txt", "w") as f:
    f.write(file_contents)
#Check your local files, after running this cell it will be there! :)

In [179]:
file_reader = open("countries.txt", 'r')
lines_from_file = file_reader.readlines()
for elem in lines_from_file:
  print(elem)

China;Beijing;1400000000

Germany;Berlin;83000000

India;New Delhi;1100000000

Netherlands;Amsterdam;17500000

United States;Washington;330000000

As you can see we now have each line.

Now, we can split each by the delimiter ";" and add resepctive elements to a list.

In [182]:
country_list = []
capital_list = []
population_list = []
for elem in lines_from_file:
  splitted_list = elem.split(";")
  country_list.append(splitted_list[0])
  capital_list.append(splitted_list[1])
  #Population has the \n extra I added above, so I just call strip to get rid of that. :)
  population_list.append(splitted_list[2].strip())

#Now that each are in their respective lists, we can now add to a dictionary! :)

capital_dict = {}
population_dict = {}
for country, capital, population in zip(country_list, capital_list, population_list):
  capital_dict[country] = capital
  population_dict[country] = population

print("Capital Dictionary ", capital_dict)
print("Population Dictionary", population_dict)

Capital Dictionary  {'China': 'Beijing', 'Germany': 'Berlin', 'India': 'New Delhi', 'Netherlands': 'Amsterdam', 'United States': 'Washington'}
Population Dictionary {'China': '1400000000', 'Germany': '83000000', 'India': '1100000000', 'Netherlands': '17500000', 'United States': '330000000'}

Question Forty-Nine

In [185]:
from typing import List
def common_keys(dict1: dict, dict2: dict) -> List[str]:
  #Get keys from dictionaries as sets:
  set_one = dict1.keys()
  set_two = dict2.keys()
  return list(set_one & set_two)

In [186]:
print(common_keys({1: 3, 4:5, 10: 4}, {1: 10, 4: 7, 11: 5}))

[1, 4]